.kaufman {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  padding-top: 90px; /*  по заданию 90 */
  padding-bottom: 90px; /*  по заданию 90 */
  z-index: 1;
}
