.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.margin {
  margin: 0px;
}

.header {
  height: 100vh;
  box-sizing: border-box;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 64px;
  overflow: hidden;
}

.logo {
  z-index: 2;
  background-size: cover;
  background-position: center;
  width: 183px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  height: 32px;
  left: 64px;
}

.header__title {
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  position: relative;
  z-index: 2;
  margin: 0;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 2;
  margin: 0;
  left: 64px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  /* background-size: cover; */
  object-fit: cover;
  object-position: center;
  background-position: center;
}
.header__square-pic {
  position: absolute;
  width: 568px;
  height: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

.redline {
  border: 1px solid red;
}

.description {
  justify-content: center;
  display: flex;
  padding-top: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  /* left: 0; */
  /* display: flex; */
  /* flex-direction: column; */
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  /* margin: 0px; */
}

.two-columns__main-text {
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  min-width: 784px;
  width: 80%;
}
.two-columns__paragraph {
  min-height: 30px;
  /* margin-bottom: 30px; */
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  /* margin: 0px; */
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* ________________________секция digits _____________________________*/

.digits {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  width: 60%;
  margin: 0 0 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  position: relative;
  z-index: 2;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  position: relative;
  z-index: 2;
  margin: 0px;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0px;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20 0 0px;
}
/* _________________________feyman______________________ */

.feynman {
  min-height: 890px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.feynman__title {
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin-bottom: 70px;
  z-index: 1;
  margin: 0;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  margin: 0 70 0px;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  /* height: 50%; */
  display: flex;
  justify-content: flex-end;
  /* margin-right: 48px; */
  position: absolute;
  top: 50%;
  /* bottom: 50%; */
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__illustration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867;
  height: 637;
  /* z-index: 0; */
}

/* --------------------kaufman---------------------- */

.kaufman {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 90px;
  z-index: 1;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: -210px;
  z-index: 0;
}

.section-title_theme_dark {
  /* width: 60%;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  position: relative;
  z-index: 2;
  margin: 0px; */
  color: white;
}

.section-subtitle_theme_dark {
  /* width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  position: relative;
  z-index: 2; */

  color: white;
  /* margin: 0px; */
}

.table_theme_dark {
  /* margin: auto;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  z-index: 100; */
  color: white;
  z-index: 1;
  /*width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__heading_theme_dark {
  /* line-height: 1.15;
  font-size: 24px;
  font-weight: 600; */
  color: white;
  /* margin: 0px; */
}
.table__text_theme_dark {
  /* margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal; */
  color: white;
}

/* ____________________________footer___________________ */

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo_place_footer {
  width: 228px;
  height: 32px;
  margin: 60 0 0px;
}
.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;

  /*line-height: 25px;
  position: absolute;
  bottom: 18px;*/

  /* line-height: 25px;
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 0px;
  position: absolute; */
}

.footer__column-heading {
  font-weight: bold;
  margin: 0 0 20px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-links {
  text-decoration: none;
  color: #2f80ed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
