.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
}
.header__logo {
  margin-top: 0;
  width:228px;
  height:32px;
}
.logo_place_header {
  position: absolute;
  top:30px;
  left:64px;
}
.header__title {
  position: absolute;
  left:64px;
  display: flex;
  flex-direction: column;
  align-items:center;
  width:730px;
  font-size: 102px;
  line-height: 96px;
  font-weight:600px;
  border: 1px solid red;
}
.header__subtitle {
  position:absolute;
  left:64px;
  bottom:30px;
  width: 388px;
  height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  border: 1px solid red;
}

.header__main-illustration {
  width:765px;
  height: 608px;
  position: absolute;
  right:0px;
  bottom:0px;
  z-index:1;
  border: 1px solid red;
}
.header__square-pic {
  position: absolute;
  width:568px;
  height:568px;
  top:64px;
  right:0;
  background-color: #2f80ed;
  z-index:0;
  border: 1px solid red;
}
.description {
  display: flex;
  margin: auto;
  border: 1px solid red;
}
.two-columns {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%;
  border: 1px solid red;
}
.two-columns__breaf {
  display: flex;
  margin: 0;
  flex-direction: column;
  width: 175px;
  height: 1.2px;
  font-size: 18px;
  font-weight: normal;
  color:  #2f80ed;

}
.two-columns__main-text {
  width:80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.two-columns__paragraph {
  line-height:34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}
.two-columns__paragraph_center {
  margin-top: 30px;
  margin-bottom: 30px;
}
.two-columns__span-effect {
  line-height:34px;
  font-size: 24px;
  font-weight: 600;
}
.digits {
  margin: 100px auto;
}
.section-title {
  display: flex;
  margin: 100px auto 20px auto;
  justify-content: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  border: 1px solid red;
}
.section-subtitle {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  border: 1px solid red;
}
.table {
  margin: 0 auto 100px;
  display: flex;
  flex-direction: column;
  width: 1100px;
}
.row {
  margin-top: 60px;
  display: flex;
  border: 1px solid red;
  justify-content: space-between;
}
.table__cell {
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 1px solid red;
}
.table__heading {
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
}
.table__text {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
}
.feynman {
  position: relative;
  height: 890px;
  border: 1px solid red;
}
.feynman__title {
  margin: auto;
  margin-bottom: 70px;
  text-align: center;
  width: 648px;
  height: 1.15;
  font-size: 120px;
  font-weight: 600;
  border: 1px solid red;
}
.feynman__subtitle {
  display: flex;
  margin: auto;
  justify-content: center;
  height: 51px;
  font-size: 36px;
  font-weight: normal;
  border: 1px solid red;
}
.feynman__link {
  height: 50%;
  display: flex;
  justify-content: flex-end;
  margin-right: 48px;
  border: 1px solid red;
}

.image {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  border: 1px solid red;
  width: 867;
  height: 637;
  z-index: -1;
}

.kaufman {
  overflow: hidden;
  position: relative;
  background-color:  #1f1f1f;
}

.section-title__them_dark {
  color: white;
  margin: 90px auto 20px auto;
  text-align: center;
  width: 60%;
  height: 1.15;
  font-size: 60;
  font-weight: 600;
  border: 1px solid red;
}
.section-subtitle__them_dark {
  color: white;
  margin: auto;
  text-align: center;
  width: 60%;
  height: 34px;
  font-size: 24;
  font-weight: normal;
  border: 1px solid red;
}
.table_them_dark {
  margin: 0 auto 100px;
  display: flex;
  flex-direction: column;
  width: 1100px;}

.table__cell_them_dark {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid red;
  }
.table__heading_theme_dark {
  color: white;
}
.table__text_theme_dark {
  color: white;
}
.triangle {
  position: absolute;
  right: -210px;
  width: 877px;
  height: 877px;
  
}
.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  border: 1px solid red;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 40px;
  width: 90%;
  border: 1px solid red;
}
.footer__logo {
  width:228px;
  height:32px;
  border: 1px solid red;
}
.footer__logo_place_footer {
  color: white;
}
.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  color: white;
}
.footer__columns_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
  border: 1px solid red;
}
.footer__columns_content_info {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}
.footer__column-heading {
  color: white;
  margin-top: 0;
  height: 30px;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid red;
}
.footer__columns_content_social {
  border: 1px solid red;
}
.footer__column-links {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  color: white;
  height: 30px;
  font-size: 18px;
  font-weight: normal;
  border: 1px solid red;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
