.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

.header_logo {
  position: absolute;
  top:30px;
  left:64px;
  width:228px;
  height:32px;
}
.header__logo_place {
  
}
.header_title {
  position: absolute;
  left:64px;
  display: flex;
  flex-direction: column;
  align-items:center;
  width:730px;
  font-size: 102px;
  line-height: 96px;
  bleed:600px;
}

.subtitle {
  position:absolute;
  left:64px;
  bottom:30px;
  width: 388px;
}
.subtitle_title {
  line-height: 25px;
  font-size: 18px;
  bleed: normal;
}
.main-illustration {
  position: absolute;

  width:765px;
  height: 608px;
  border: 1px solid red;

}
.square-pic {
  background-color: #2f80ed;
}
.description {
  margin-top: 100px;
}
.digits {
  margin-top: 100px;
  margin-bottom: 100px;
}
.feynman {
}
.kayfman {
  margin-top: 90px;
  margin-bottom: 90px;
}
.footer {
  margin-top: 60px;
  margin-bottom: 40px;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
